# Copy to .env and adjust credentials.
# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/cholo?schema=public"

DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/cholo?schema=public"
